.blog-page {
    background-color: $white-shade;
}

main {
    display: flex;
}

.aside-bio {
    background-color: white;
    margin: 0 auto;
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bio-image {
        margin-top: 5%;

        img {
            width: 100%;
        }
    }

    .bio {
        h3 {
            font-family: $header;
            text-transform: uppercase;
            margin-top: 8%;
        }

        p {
            font-family: $body-text;
            font-size: 1rem;
            letter-spacing: 1px;
            line-height: 32px;
        }

        span {
            a {
                color: $green-gray;
                text-decoration: none;
                font-weight: 700;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }

    }
}

.aside-recent {
    background-color: white;
    margin-top: 5%;
    padding: 8%;

    h3 {
        font-family: $header;
        text-transform: uppercase;
        letter-spacing: 1px;

    }

    ul {
        margin-top: 7%;
        list-style: inside;
        font-size: 1rem;
        font-weight: 400;
        flex-direction: column;
        text-transform: capitalize;

        li {
            letter-spacing: 0;
            padding: 2% 0 2% 4%;

            &::marker {
                font-size: 0.7rem;
            }
        }
    }
}

article {
    background-color: white;
    padding: 8%;
    border-bottom: 5px solid $green-gray;
}

.blog-page aside {
    width: 100%;
}

.blog-page .flex-child2 {
    width: 160%;
}

.readerComments {
    margin-top: 5%;

}

.comment1,
.comment2 {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 5%;
    font-family: $body-text;

    .readerPic {
        margin-top: 20px;

        img {
            width: 100%;
        }
    }

    .readerCommentBox {
        width: 80%;
        padding: 5%;

        p {
            margin: 0;
            padding: 0;
        }
    }
}

.comment2 {
    border-bottom: 5px solid $green-gray;
}

.comment-form {
    button {
        width: 100%;
    }
}

.comment-form {
    width: 50%;
    margin: 5% auto;
    border: 1px solid red;

    form {
        display: flex;
        width: 100%;
    }
}

.form-box {
    width: 85%;
    margin: 0 auto;

    form {
        width: 100%;
    }
}

#contact {
    h2 {
        a {
            text-decoration: none;
            color: black;
        }
    }
}