.contact {
    background: $white-shade;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 0;

    .contact-box {
        width: calc(100% / 2);
        padding: 2%;

        h2 {
            font-family: $header;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        p {
            width: 90%;
            font-family: $body-text;
        }
    }

    .contact-box1,
    .contact-box2,
    .contact-b0x3,
    .contact-box4 {
        h2 {
            transition: transform 0.2s ease-out;

            &:hover,
            &:focus {
                transform: scale(1.1);
            }

            span {
                display: inline-block;
                position: relative;
                right: 5%;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: $accent;

                    .fas {
                        font-size: 1rem;
                    }
                }
            }
        }

        p {
            padding-left: 8.8%;
        }
    }
}