.insta {
    background: white;
}

.insta-wall {
    display: flex;
    justify-content: center;
    padding: 4% 0;

    div {
        padding: 2%;
        width: calc(100% / 3);

        img {
            width: 100%;
        }
    }
}