@media (max-width: 1196px) {
    .title h1 {
        font-size: 5rem;
    }
}

@media (max-width: 1130px) {
    .about {
        .top-layer {
            .image-box1 {
                right: 1%;
                bottom: 2%;
            }

            .image-box2 {
                left: 1%;
                top: 2%;
            }

            .text-box1,
            .text-box2 {
                p {
                    line-height: normal;
                }
            }
        }

        .bottom-layer {
            .green-box1 {
                bottom: 4%;
                height: 325px;
            }

            .green-box2 {
                top: 4%;
                height: 325px;
            }
        }
    }
}

@media (max-width: 1030px) {
    .about {
        .top-layer {
            padding: 10vh 0;
            display: flex;
            flex-wrap: wrap;

            .grid-box {
                width: calc(100% / 2);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .image-box1 {
                position: static;
            }

            .image-box2 {
                position: static;
            }
        }

        .bottom-layer {
            display: none;
        }
    }

    .blog {
        margin-top: 10%;
    }
}

@media (max-width: 930px) {
    .hidden-gallery {
        display: block;

    }

    .title h1 {
        font-size: 4rem;
    }

    .title-image {
        min-width: 280px;
    }

    .title-card {
        min-width: 280px;
    }

    .about {
        display: none;
    }
}

@media (max-width: 930px) {
    .hidden-gallery {

        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 5% 0;
        .grid-box {
            width: 80%;
            text-align: center;
            margin: 4% auto;
        }

        .image-box1,
        .image-box2 {
            position: static;

            img {
                width: 100%;
            }
        }
    }

    h2 {
        font-size: 1.25rem;
        font-family: $header;
        text-transform: uppercase;
    }

    .blog .blog-article h2 {
        font-size: 1.25rem;
        font-family: $header;
        text-transform: uppercase;

    }

    .home h2 {
        font-size: 1.25rem;
    }

    .blog {
        height: auto;
    }

    .blog-article {
        text-align: center;

        p {
            line-height: normal;
        }

        button {
            margin-bottom: 10%;
        }
    }
}


@media (max-width: 880px) {
    .contact {
        p {
            display: none;
        }
    }
}


@media (max-width: 750px) {
    .home {
        height: auto;
        padding-bottom: 10%;
    }
    .landing {
        height: auto;

        .title {
            height: 100%;
            margin: auto auto;
        }
    }

    .tablet-hero-image {
        display: block;
        width: 50%;
        margin: 10% auto;
        img {
            width: 100%;
        }
    }

    .landing-flex-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title-image-card {
            display: none;
        }
    }
    .blog-image-card {
        display: none;
    }
    .blog .blog-article {
        width: 100%;
    }
}

@media (max-width: 570px) {
     nav {
         ul {
             display: none;
         }

    .fa-bars {
        display: block;
        font-size: 2rem;
        color: $white-shade;
        position: relative;
        left: 5%;
        }
     }

     .title h1 {
         font-size: 3rem;
         &::before {
             display: none;
         }
     }

     .contact {
         .contact-box {
             h2 {
                 font-size: 1rem;
             }
         }
     }
     .insta {
         display: none;
     }
     
    
}


@media (max-width: 486px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .contact-box {
            width: 100%;
        }
    }
}
