@import 'setup';
@import 'header';
@import 'footer';



html {
    font-size: 125%;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

aside ul {
    display: flex;

}

.contactPage {
    display: flex;
}