@import 'setup';
@import 'header';
@import 'footer';


html {
    font-size: 125%;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

nav {
    height: 10vh;
}

.header-banner {
    height: 40vh;
    background-image: url(./assets/contact-image-1.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

ul {
    list-style: none;
    margin:0;
    padding: 0;
}

nav ul {
    display: flex;
}

aside ul {
    display: flex;

}

.contactPage {
    display: flex;
}